v1.0.1/node-red/node-red.txt
[{"id":"328dda01.623fa6","type":"tab","label":"research","disabled":false,"info":""},{"id":"2449090c.98c0a6","type":"mongodb2","z":"","uri":"mongodb://13.124.95.25:27017/admin","name":"research","options":"","parallelism":"-1"},{"id":"7b544e48.256c1","type":"http in","z":"328dda01.623fa6","name":"","url":"/appapi/SET_RESEARCH/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":220,"y":60,"wires":[["9cd315f2.a7ad68","c40ad421.972948"]]},{"id":"755c9717.8ebea8","type":"http response","z":"328dda01.623fa6","name":"","statusCode":"","headers":{},"x":970,"y":60,"wires":[]},{"id":"a1fbb360.44de7","type":"mongodb2 in","z":"328dda01.623fa6","service":"_ext_","configNode":"2449090c.98c0a6","name":"","collection":"","operation":"","x":700,"y":60,"wires":[["46c0eb3d.797474"]]},{"id":"c40ad421.972948","type":"debug","z":"328dda01.623fa6","name":"SET_RESEARCH","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":20,"wires":[]},{"id":"9cd315f2.a7ad68","type":"function","z":"328dda01.623fa6","name":"isnert ResearchData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\nvar date = new Date(new Date().getTime() + 9*1000*60*60);\nnewMsg.collection = 'ResearchData';\nnewMsg.operation = 'insert';\n\nnewMsg.payload = {'case': msg.payload.case, 'date': date, 'radio': msg.payload.radio, 'age': msg.payload.age, 'time': msg.payload.time, 'wrong': msg.payload.wrong};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":60,"wires":[["a1fbb360.44de7"]]},{"id":"46c0eb3d.797474","type":"function","z":"328dda01.623fa6","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {'resultCode': \"0000\", \"resultMessage\": \"정상 처리되었습니다.\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":60,"wires":[["755c9717.8ebea8","34dad534.9a90fa"]]},{"id":"5ec30a77.20e514","type":"http in","z":"328dda01.623fa6","name":"","url":"/appapi/GET_RESEARCH/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":220,"y":140,"wires":[["4388d922.64bd68","be18c946.e81078"]]},{"id":"4388d922.64bd68","type":"function","z":"328dda01.623fa6","name":"find.toArray ResearchData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'ResearchData';\nnewMsg.operation = 'find.toArray';\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":140,"wires":[["ffd6e004.8d462"]]},{"id":"be18c946.e81078","type":"debug","z":"328dda01.623fa6","name":"GET_RESEARCH","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":100,"wires":[]},{"id":"ffd6e004.8d462","type":"mongodb2 in","z":"328dda01.623fa6","service":"_ext_","configNode":"2449090c.98c0a6","name":"","collection":"","operation":"","x":740,"y":140,"wires":[["c784690c.cd3cb8"]]},{"id":"c784690c.cd3cb8","type":"function","z":"328dda01.623fa6","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {'resultCode': \"0000\", \"resultMessage\": \"정상 처리되었습니다.\", \"resultData\": msg.payload};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":140,"wires":[["3fb57210.9018be","261d062d.5cd17a"]]},{"id":"3fb57210.9018be","type":"http response","z":"328dda01.623fa6","name":"","statusCode":"","headers":{},"x":1010,"y":140,"wires":[]},{"id":"16f3a27.d6a645e","type":"http in","z":"328dda01.623fa6","name":"","url":"/appapi/GET_CASE/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":200,"y":220,"wires":[["3c55a7d4.04fcc8","f6394d96.11649"]]},{"id":"3c55a7d4.04fcc8","type":"function","z":"328dda01.623fa6","name":"findOne CaseData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'CaseData';\nnewMsg.operation = 'findOne';\n\nnewMsg.payload = {caseId: 'ha'};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":220,"wires":[["82ce5291.c2ed6"]]},{"id":"f6394d96.11649","type":"debug","z":"328dda01.623fa6","name":"GET_CASE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":180,"wires":[]},{"id":"82ce5291.c2ed6","type":"mongodb2 in","z":"328dda01.623fa6","service":"_ext_","configNode":"2449090c.98c0a6","name":"","collection":"","operation":"","x":640,"y":220,"wires":[["e8b12b38.a36b98"]]},{"id":"e8b12b38.a36b98","type":"function","z":"328dda01.623fa6","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {'resultCode': \"0000\", \"resultMessage\": \"정상 처리되었습니다.\", \"resultData\": msg.payload};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":220,"wires":[["da33d160.bf07c","8b203063.97086"]]},{"id":"da33d160.bf07c","type":"http response","z":"328dda01.623fa6","name":"","statusCode":"","headers":{},"x":910,"y":220,"wires":[]},{"id":"8b203063.97086","type":"debug","z":"328dda01.623fa6","name":"GET_CASE response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":180,"wires":[]},{"id":"261d062d.5cd17a","type":"debug","z":"328dda01.623fa6","name":"GET_RESEARCH response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1080,"y":100,"wires":[]},{"id":"34dad534.9a90fa","type":"debug","z":"328dda01.623fa6","name":"SET_RESEARCH response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1040,"y":20,"wires":[]},{"id":"eb82d15a.fe692","type":"http in","z":"328dda01.623fa6","name":"","url":"/appapi/SET_CASE/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":200,"y":300,"wires":[["c67a5e0a.a9fc4","28c0d5ad.0245fa"]]},{"id":"28c0d5ad.0245fa","type":"function","z":"328dda01.623fa6","name":"updateMany ResearchData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'CaseData';\nnewMsg.operation = 'updateMany';\n\nnewMsg.payload = [{'caseId': msg.payload.data.caseId}, {$set: {'wCase': msg.payload.data.wCase, 'mCase': msg.payload.data.mCase}}];\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":300,"wires":[["20f9fd9d.6508a2"]]},{"id":"c67a5e0a.a9fc4","type":"debug","z":"328dda01.623fa6","name":"SET_CASE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":260,"wires":[]},{"id":"20f9fd9d.6508a2","type":"mongodb2 in","z":"328dda01.623fa6","service":"_ext_","configNode":"2449090c.98c0a6","name":"","collection":"","operation":"","x":700,"y":300,"wires":[["b411e2a5.70531"]]},{"id":"b411e2a5.70531","type":"function","z":"328dda01.623fa6","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {'resultCode': \"0000\", \"resultMessage\": \"정상 처리되었습니다.\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":300,"wires":[["4a83f0f0.8419d","8975423b.b0b97"]]},{"id":"8975423b.b0b97","type":"http response","z":"328dda01.623fa6","name":"","statusCode":"","headers":{},"x":970,"y":300,"wires":[]},{"id":"4a83f0f0.8419d","type":"debug","z":"328dda01.623fa6","name":"SET_CASE response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":260,"wires":[]}]